# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
env/
venv/
.Python

# Flask / SQLAlchemy / DB
instance/
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Compiled files
*.so
*.egg
*.egg-info/
dist/
build/

# Docker (si usas)
docker-compose.override.yml
